.message-content {
	border-radius: 9999px;
	padding: 0.75rem 1rem;
}

.message-content-left {
	border-top-left-radius: 0;
}

.message-content-right {
	border-top-right-radius: 0;
}

.message-metadatum {
	font-size: 0.625rem;
	font-weight: 500;
}

.new-message-button {
	padding: 0.625rem 0.875rem;
}

.new-message-input {
	background-color: #f0f0f0 !important;
}
