.chat-button:hover {
	cursor: pointer;
}

.chat-button > td {
	vertical-align: middle;
}

.chat-button-selected {
	background-color: #e0e0e0;
	outline: 1px solid darkgray;
}

.chat-list {
	background-color: #f0f0f0;
	min-width: 25vw;
}

.countdown {
	border-radius: 12px;
	font-family: monospace;
	font-size: 3rem;
	right: 1rem;
	top: 1rem;
}

.message-container {
	padding-top: 7.5rem;
}

.message-content {
	border-radius: 9999px;
	padding: 0.75rem 1rem;
}

.message-content-left {
	border-top-left-radius: 0;
}

.message-content-right {
	border-top-right-radius: 0;
}

.message-metadatum {
	font-size: 0.625rem;
	font-weight: 500;
}

.new-message-button {
	padding: 0.625rem 0.875rem;
}

.new-message-input {
	background-color: #f0f0f0 !important;
}

.title {
	font-weight: 600;
}
